{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "node": true,
    "jest": true // for jest
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "script" // "module"
  },
  "plugins": ["react", "prettier"],
  // "ignorePatterns": [".prettierrc.js", ".stylelintrc.js"],
  "rules": {
    "eqeqeq": "warn",
    // https://github.com/wesbos/eslint-config-wesbos/blob/master/.eslintrc.js
    "no-unused-vars": [
      1,
      {
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "res|next|^err"
      }
    ],
    "prettier/prettier": "warn" // warn for prettier errors
  }
}
